.header {
  overflow: hidden;
  background-color: #85acd6;
}

.header p {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  border-radius: 4px;
}

.header p.logo {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.header p.active {
  background-color: #917c46;
  color: white;
}

.header-right {
  float: right;
  margin-right: 3%;
}
